<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
							http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	   					   http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
	   					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath:META-INF/cxf.xml" />
	
	<import resource="security.xml" />
	
	<util:list id="propertiesTobeSerializedAsArray">
		<value>notes</value>
		<value>invoiceHeaders</value>
		<value>dsoList</value>
		<value>openAmountList</value>
		<value>interestLossList</value>
		<value>currencySearchHelp</value>
		<value>companyCodeSearchHelp</value>
		<value>companyCodes</value>
		<value>invoiceDetails</value>
	</util:list>
	<bean id="jsonProvider" class="org.apache.cxf.jaxrs.provider.JSONProvider">
		<property name="serializeAsArray" value="true"/>
		<property name="arrayKeys" ref="propertiesTobeSerializedAsArray"/>
	</bean>
	
	<jaxrs:server id="restSeviceContainer" address="/">
		<jaxrs:serviceBeans>
			<!-- <ref bean="uiService"/>
			<ref bean="passwordService" />
			<ref bean="ilmCustomerData" />
			<ref bean="loginService" />
			<ref bean="usrMgmtService" /> -->
			<ref bean="mobloginService" />
			<ref bean="mobCollectionService" />
			<ref bean="mobPreferencesService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean id="secExcepMapper" class="com.sap.dcm.web.exception.mapper.SecurityExceptionMapper"/>
			<!-- <bean id="cacheHandler" class="com.sap.dcm.web.core.CacheControlResponseHandler" /> -->
			<ref bean="jsonProvider"/>
		</jaxrs:providers>
	</jaxrs:server>

	<!-- REST Beans -->
	<bean id="mobloginService" class="com.sap.dcm.mobile.service.login.MobLoginServiceImpl">
		<property name="provider" ref="customAuthenticationProvider" />
		<property name="requiredRoles">
			<set>
				<value>ROLE_SAP_DCM_MOBILE</value>
			</set>
		</property>
	</bean>
	
	<bean id="mobCollectionService" class="com.sap.dcm.mobile.service.collection.CollectionServiceImpl">
		
	</bean>
	
	<bean id="mobPreferencesService" class="com.sap.dcm.mobile.service.preferences.PreferencesServiceImpl">
		
	</bean>
	
	<!-- <bean id="uiService" class="com.sap.dcm.web.ui.impl.UIServiceBean">
		<property name="pageProvider" ref="uiPageProvider" />
		<property name="userService" ref="usrMgmtService" />
	</bean>
	<bean id="passwordService" class="com.sap.dcm.web.user.pwd.impl.PasswordServiceImpl" >
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="usrMgmtService" class="com.sap.dcm.web.user.mgmt.impl.UserMgmtServiceImpl" />
	<bean id="ilmCustomerData" class="com.sap.dcm.web.ilm.impl.CustomerDataImpl" />
	
	<bean id="loginService" class="com.sap.dcm.web.security.impl.LoginServiceImpl">
		<property name="provider" ref="customAuthenticationProvider" />
	</bean>  -->

	<!-- DAO Bean -->
	<bean id="collectionOverviewDao" class="com.sap.dcm.mobile.dao.collection.CollectionOverviewDao">
	</bean>
	<bean id="preferencesDao" class="com.sap.dcm.mobile.dao.settings.PreferencesDao">
	</bean>
	
	<!-- UI Beans -->
	<bean id="uiPageProvider"
		class="com.sap.dcm.web.ui.pages.impl.UIPageProviderBean">
		<property name="unmarshaller" ref="jaxbUiPageMarshaller" />
	</bean>

	<!-- JAXB Marshalling -->
	<bean id="jaxbUiPageMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="classesToBeBound">
			<list>
				<value>com.sap.dcm.web.ui.pages.model.Role</value>
				<value>com.sap.dcm.web.ui.pages.model.Page</value>
				<value>com.sap.dcm.web.ui.pages.model.SubPage</value>
				<value>com.sap.dcm.web.ui.pages.model.Pages</value>
			</list>
		</property>
		<property name="schema" value="classpath:ui/uiPage.xsd" />
	</bean>
	

	
	
	<!-- Data Source -->
	<bean id="dataSource" class="com.sap.db.jdbcext.DataSourceSAP">
		<property name="serverName" value="${hana.hostName}" />
		<property name="port" value="3${hana.instanceNumber}15" />
	</bean>
	
	<context:property-placeholder location="classpath:hanaDB.properties" />
</beans>