/* Common Header */
.page {
    min-height: 100%;
}
.page header {
    background-image: -webkit-gradient(linear, left top, left bottom,
            color-stop(0,   #58585B),
            color-stop(0.45, #333333),
            color-stop(1, #000000));
    background-repeat: no-repeat;
    height: 44px;
    z-index: 100;
}

.page header h2 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 10px 0 0 0px;
}
.page nav {
    height: 55px;
    overflow: hidden;
    position: absolute;
    top: 44px;
    width: 100%;
}
.page nav li{
    background-color: #292a37;
    text-align: center;
    height: 55px;
}
.page ul.grid_3 {
    display: -webkit-box;
}
.page ul.grid_3 li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
}
.page nav a {
    color: #a7a9ac;
    display: block;
    height: 33px;
    font-weight: bold;
    background-image: -webkit-gradient(linear,left top,left bottom,
            color-stop(0,   #575962),
            color-stop(0.5, #292A37),
            color-stop(1,   #2F303E));
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #292a37;
}
.page nav a:hover {
    color: #fff;
    text-decoration: none;
}
.page nav a.active {
    background-image: -webkit-gradient(linear,left top,left bottom,
                color-stop(0,   #00BAF1),
                color-stop(0.5, #07A3E5),
                color-stop(1,   #20679A));
}
.listview {
    color: #fff;
    background-color: #58595b;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 0 1px 4px   rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 4px      rgba(0,0,0,.3);
    box-shadow: 0 1px 4px           rgba(0,0,0,.3);
}
.listview li {
    padding: 7px 15px;
    font-size: 16px;
}
.listview li i {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}
.listview li label,
.listview li input,
.listview li select {
    vertical-align: middle;
}
.listview li label {
    width: 53.7%;
    display: inline-block;
}
.listview li input {
    width: 40%;
    border: none;
    padding: 6px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tab-panel {
}
.tab-panel .panel {
    display: none;
}
.tab-panel .panel.active {
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%;
    -moz-box-shadow: 0 -1px 3px #000;
    -webkit-box-shadow: 0 -1px 3px #000;
    box-shadow: 0 -1px 3px #000;
    position: absolute;
    z-index: 1;
}
.tab-panel .tabs {
    display: -webkit-box;
    margin: 0 0 0 15px;
}
.tab-panel .tabs li {
    width: 128px;
    height: 55px;
    margin: 0 -9px;
    text-align: center;
    position: relative;
    /*background-image: url(../images/tab_normal.png);*/
    background-repeat: no-repeat;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.tab-panel ul.tabs li.active {
    z-index: 11;
    /*background-image: url(../images/tab_hover.png);*/
}
.tab-panel .tabs a {
    color: #000;
}
.tab-panel .tabs a:hover {
    text-decoration: none;
}
.tab-panel .panels {
    bottom: 0;
    position: absolute;
    top: 99px;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #dfe0e3;
}
.panel table {
    border-collapse: collapse;
    width: 100%;
}
.panel tbody,
.panel thead {

}
.panel th,
.panel td {
    vertical-align: middle;
}
.panel td {
    padding: 0 5px;
    color: #666;
    font-size: 15px;
    height: 40px;
}
.panel table .number {
    text-align: right;
}
.panel table .number input {
    text-align: right;
}
.panel th:first-child,
.panel td:first-child {
    padding-left: 20px;
}
.panel th {
    color: #fff;
    padding: 0 5px;
    background-image: -webkit-gradient(linear, left top, left bottom,
            color-stop(0,   #838281),
            color-stop(0.35, #585858),
            color-stop(0.75, #383431),
            color-stop(1, #181a1b));
    font-size: 16px;
    font-weight: bold;
    height: 65px;
    text-align: left;
}
.panel tr:nth-child(odd) {
    background-color: rgba(244, 244, 244, 0.5);
}
.panel tr:nth-child(even) {
    background-color: rgba(204, 204, 204, 0.5);
}

.panel input,
.panel select {
    height: 30px;
    font-size: 15px;
    color: #666;
    -webkit-box-sizing: border-box;
}

.dialog {
    position: absolute;
    z-index: 100;
    top: 300px;
    width: 255px;
    -webkit-box-sizing: border-box;
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom,
            color-stop(0,    rgba(88, 89, 91, 0.8)),
            color-stop(0.45, rgba(51, 51, 51, 0.8)),
            color-stop(1,    rgba(0, 0, 0, 0.8)));
    padding: 7px 5px;
    text-align: center;
}
.dialog .title {
    color: #fff;
    padding: 3px 0;
    font-size: 17px;
    font-weight: bold;
}
.dialog .comment {
    padding: 19px 0;
}
.dialog .content {
    color: #fff;
    font-size: 15px;
    padding: 10px 0 20px 0;
}
.dialog .comment input {
    font-size: 15px;
    color: #030303;
    height: 27px;
    width: 100%;
    -webkit-box-sizing: border-box;
    background-color: #fff;
}
.dialog .buttons {
    display: -webkit-box;
    -webkit-box-pack: center;
}
.dialog .buttons a {
    border: 1px solid #000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    display: -webkit-box;
    width: 116px;
    height: 37px;
    font-size: 17px;
    font-weight: bold;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-sizing: border-box;
    line-height: 1;
}
.dialog .buttons a:hover {
    text-decoration: none;
}
.dialog .buttons a.cancel {
    background-image: -webkit-gradient(linear, left top, left bottom,
            color-stop(0,   #0f9cd6),
            color-stop(1, #1e54a3));
    margin: 0 7px 0 0;
}
.dialog .buttons a.yes {
    background-image: -webkit-gradient(linear, left top, left bottom,
            color-stop(0,   #999),
            color-stop(0.5, #4d4d4d),
            color-stop(1,   #4d4d4d));
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(120,120,120, 0.5);
}
/*
.dialog.saving {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-image: url(../images/waiting_24px.gif),
        -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(88, 89, 91, 0.8)), color-stop(0.45, rgba(51, 51, 51, 0.8)), color-stop(1, rgba(0, 0, 0, 0.8)));
    background-repeat: no-repeat;
    background-position: 22% center;
}
*/
.dialog.saving {
    text-indent: 15px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(88, 89, 91, 0.8)), color-stop(0.45, rgba(51, 51, 51, 0.8)), color-stop(1, rgba(0, 0, 0, 0.8)));
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.dialog.saving .inner {
    padding: 6px 0;
}
.dialog.message .buttons a {
    width: 235px;
}
.dialog.alert .title {
    padding: 10px;
}

.scrollbar {
    right: 0;
}
