#company header {
     display: -webkit-box;
    height: 44px;
    -webkit-box-align: center;
    padding: 0 10px;
    background-image: -webkit-gradient(linear, left top, left bottom,
            color-stop(0, #888),
            color-stop(0.45, #666),
            color-stop(0.47, #444),
            color-stop(1, #000000));
}

#company header .back {
    padding: 7px;
    border: 1px solid gray;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px -1px 1px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom,
            color-stop(0, #888),
            color-stop(0.45, #666),
            color-stop(0.47, #444),
            color-stop(1, #000000));
    box-shadow: 0px 1px 0px #888;
}

#company header .title {
    -webkit-box-flex: 1;
    font-size: 16px;
    font-weight: bold;
    color: white;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

#company .content {
    position: absolute;
    min-height: 100%;
    bottom: 0;
    top: 44px;
    width: 100%;
    background-color: gray;
}
#company .content h3, h4 {
    height: 20px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

#company .scroll_wrapper {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}

#company .scroll_wrapper div:first-child {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

#company .scroll_wrapper ul {
    background: white;
    border-radius: 10px
}

#company .scroll_wrapper .item {
    display: -webkit-box;
    -webkit-box-align: center;
    padding: 0 10px;
    height: 25px;
    border-bottom: 1px solid #030303;
    -webkit-box-pack: center;
}

#company .scroll_wrapper .item.select {
    background-image: url("../images/check.png");
    background-position: 20px;
    background-repeat: no-repeat;
}