
#hitlist header {
    display: -webkit-box;
    -webkit-box-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom,
            color-stop(0, #888),
            color-stop(0.45, #666),
            color-stop(0.47, #444),
            color-stop(1, #000000));
    background-repeat: no-repeat;
    height: 44px;
    z-index: 100;
}

#hitlist header h2 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

#hitlist .preference {
   width: 60px;
    height: 35px;
    display: -webkit-box;
    border: 1px solid #333;
    -webkit-box-align: center;
    color: white;
    margin-left: 5px;
    box-shadow: -1px -1px 2px #fff;
}

#hitlist h2.title {
    -webkit-box-flex: 1;
}

#hitlist .tab-panel nav {
    height: 44px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#hitlist .tabs {
    background-color: #030303;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    margin: 0;    
}

#hitlist nav li:first-child a {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#hitlist nav li:last-child a {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#hitlist .tab-panel {
}

#hitlist .tab-panel .panel {
    display: none;
}

#hitlist .tab-panel .panel.active {
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%;
    -moz-box-shadow: 0 -1px 3px #000;
    -webkit-box-shadow: 0 -1px 3px #000;
    box-shadow: 0 -1px 3px #000;
    position: absolute;
    z-index: 1;
}
#hitlist .tab-panel .tabs {
    display: -webkit-box;
}

#hitlist .tab-panel .tabs li {
    width: 30%;
    height: 30px;
    text-align: center;
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    background: transparent;
    border-right: 1px solid gray;
}

#hitlist .tab-panel .tabs li:last-child {
    border: none;
}

#hitlist .tabs li.active a {
     background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0, #575962),
        color-stop(0.5, #292A37),
        color-stop(1, #2F303E));
    color: #fff;
}

#hitlist .tabs a {
    color: #000;
    display: -webkit-box;
    height: 100%;
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #888), color-stop(0.5, #999), color-stop(1, #aaa));
}

#hitlist .tab-panel .tabs a:hover {
    text-decoration: none;
    color: #fff;
}

#hitlist .tab-panel .panels {
    bottom: 44px;
    position: absolute;
    top: 44px;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #DFE0E3;
}

#hitlist .tab-panel .panel ul {
    width: 100%;
}

#hitlist .tab-panel .panel .no_records {
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

#hitlist .panel li.item {
    display: -webkit-box;
    min-height: 45px;
    border-bottom: 1px solid;
    padding: 0 10px;
    -webkit-box-orient: vertical;
}

#hitlist .panel li.item .top {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: start;
    font-size: 16px;
    font-weight: bold;
}

#hitlist li.item .top div:first-child {
    color: blue;
    max-width: 190px;
}

#hitlist li.item .top div:first-child + div {
    -webkit-box-flex: 1;
    text-align: right;
    padding: 0 5px;
}

#hitlist li.item .top div:last-child {
    font-size: 15px;
    color: #808080;
    padding-left: 5px;
}
