#logon{
	background-color: gray;
}
#logon article {
    top: 50px;
    bottom: 10px;
    left: 20px;
    right: 20px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

#logon article .logon_info
{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	height:100%;
}

#logon .logon_info .form_view {
	
}
#logon .form_view .logon_controls{
	margin: auto;
	width:200px;
}

#logon .logon_info .footer {
	-webkit-box-flex: 1;
	position: relative;
	overflow: hidden;
}

#logon .footer .footer_content{
    position: absolute;
	bottom: 10px;
}


#logon article .logon_title
{
	width:100%;
	background-color:#e0a000;
	font-size: 20pt;
	color:gray;
	text-align:center;
	font-weight:700;
}

#logon article .listview
{
	padding-top:20px;
	width:100%;
}

#logon li{
	font-size:9pt;
	color:white;
	padding-top:4px;
}

#logon li input{
	width:100%;
}
#logon .logon_button
{
	padding-top:15px;
	text-align: center;
}

#logon .errormessage
{
	padding-top:10px;
	color:red;
	font-weight:700;
	display: -webkit-box;
    -webkit-box-pack: center;
}
#logon #logon_button{
	width:100px;
	height:30px;
	font-size:12pt;
	color:white;
}

#logon .footer .logon_productname
{
    font-size:10pt;
    color:dark;
    font-weight:700;
}
#logon .footer .logon_productcompany
{
    font-size:9pt;
    color:dark;
}
#logon .footer .logon_img
{
	background-image: url("../images/loading.png");
	background-repeat: no-repeat;
	height:20px;
	width:30px;
}
