<ul class="detail">
    <li>
        <div class="label">Overdue Amount</div>
        <div class="value"><span class="amount"><%=customerKPI.overdueAmount%></span> <span class="currency">EUR</span></div>
    </li>
    <li>
        <div class="label">Days Sales Outstanding</div>
        <div class="value"><%=customerKPI.DSO%> days</div>
    </li>
    <li>
        <div class="label">Open Amount</div>
        <div class="value"><span class="amount"><%=customerKPI.openAmount%></span> <span class="currency">EUR</span></div>
    </li>
    <li>
        <div class="label">Interest Loss</div>
        <div class="value"><span class="amount"><%=customerKPI.InterestLoss%></span> <span class="currency">EUR</span></div>
    </li>
    <li>
        <div class="label">Dunning Level</div>
        <div class="value"><%=customerKPI.dunningLevel%></div>
    </li>
    <li>
        <div class="label">Last Dunning</div>
        <div class="value"><%=customerKPI.lastDunning%></div>
    </li>
</ul>