<ul>
    <% _.each(data, function (item) { %>
    <li class="item" data-id="<%=item.customerId%>">
        <% _.each(item, function (val, key) { %>
            <% if(key !== "customerId") {%>
        <div ><%=val%></div>
            <% } %>
        <% }); %>
        <div class="unit">DAYS</div>
    </li>
    <% }); %>
</ul>