<div class="dialog hidden">
    <div class="inner">
        <div class="title">{{title}}</div>
        <div class="list">
            <ul>
                <li class="contact_name"><%=contact%></li>
                <li class="phone"><%=phone%></li>
                <li class="email"><%=email%></li>
            </ul>
        </div>
    </div>
</div>
