<nav>
    <ul class="tabs">
        <li><a href="javascript:;">DSO</a></li>
        <li><a href="javascript:;">Open Amount</a></li>
        <li><a href="javascript:;">Interest Loss</a></li>
    </ul>
</nav>
<article>
    <div class="tab-panel">
        <div class="panels">
<%      _.each(navs, function (nav, index) { %>
            <div class="panel">
                <div class="loading"><div class='loading_animation'></div>{{loading}}</div>
            </div>
<%      });%>
        </div>
    </div>
</article>