<div class="doc_no">
    <div class="label">Invoice No.</div>
    <div class="no"><%=invoiceDetail.invoiceNumber%></div>
</div>
<div class="total_amount">
    <div class="label">Total Amount</div>
    <div class="amount"><%=invoiceDetail.amount%></div>
    <div class="currency">USD</div>
</div>

<div class="item">
    <div class="row">
        <div class="cell">
            <div class="label">Qty</div>
            <div class="value"><%=invoiceDetail.quantity%></div>
        </div>
        <div class="cell">
            <div class="label">Product</div>
            <div class="value"><%=invoiceDetail.product%></div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <div class="label">Unit Price</div>
            <div class="value"><%=invoiceDetail.unitPrice%></div>
        </div>
        <div class="cell">
            <div class="label">Amount</div>
            <div class="value"><%=invoiceDetail.amount%></div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <div class="label">Delivery Date</div>
            <div class="value"><%=invoiceDetail.deliveryDate%></div>
        </div>
        <div class="cell">
            <div class="label">Delivered On</div>
            <div class="value"><%=invoiceDetail.deliveredOn%></div>
        </div>
    </div>
</div>