<div class="scroll_wrapper">
    <ul>
        <% _.each(notes, function (note) { %>
            <li class="record">
                <div class="account">
                    <div class="name"><%=note.contact%></div>
                    <div class="time"><time><%=note.datetime%></time></div>
                </div>
                <div class="content">
                    <p><%=note.text%></p>
                </div>
            </li>
        <% }); %>
    </ul>
</div>

